body {
  font-family: Arial, sans-serif;
}
.search-bar {
  border-radius: 10px;
}
.centered-user-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pagination-container {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}


.table-responsive {
  min-width: 350px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.navbar {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}


