body {
  font-family: Arial, sans-serif;
}


.pagination {
  display: flex;
  justify-content: center;
  /* margin: 20px 0; */
}


.user-details {
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px 0;
}

.user-details p {
  margin: 8px 0;
}

